<!DOCTYPE html>
<html>

<head>
    <title>Image Gallery</title>
</head>

<body>
    <h1>Edit Gallery</h1>

    <!-- Form to upload an image -->
    <form action="/edit/<%= id %>" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required />
        <button type="submit">Update</button>
    </form>

    <p>Current Image : </p>
    <img height="350" width="350" src="/uploads/<%= data.filename%>" alt="">
</body>

</html>